*{
    box-sizing: border-box;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background-color: hsl(154, 37%, 93%);
    display: flex;
    flex-direction: column;
}

nav{
    background-color: #f5f5f5;
    letter-spacing: 1px;
        
}

img{
    width: 100%;
}

li{
    list-style: none;
    text-indent: 0px;
}

i,h1,h2,h3,h4{
    text-align: center;
}

i{
    border: 90px;
    box-shadow:#c53a3a;
}

.card {
    background-color: white;
    border-radius: 18px;
    padding: 8px;
    margin: 2px 2px 8px 2px;
    width: 100%;
}
.card-title {
    text-align: center;
    padding-bottom: 5px;
}
.card-text {
    padding: 2px;
    flex-wrap: wrap;
}
#about, #services, #contact{
    margin-top: 20px;
    margin-bottom: 20px;
}

input{
    width: 100%;
    padding: 8px;
    margin-top: 2px;
    border-radius: 6px;
    border: 0.25px blue solid;
}

textarea{
    width: 100%;
    height: auto;
    margin-top: 5px;
    border-radius: 6px;
    border: 0.25px solid;
}

.contact{
    background-color: rgb(10, 44, 138);
    color: whitesmoke;
}

.contact button {
    padding: 10px;
    margin: 12px;
    border: 2px;
}
.contact a {
    color: white;
}

.contact button:hover, .contact a:hover {
    background-color: white;
    color:black;
    font: bolder;
    font-size: 20px;
}

footer{
    background-color: rgb(5, 1, 48);
    color: #f5f5f5;
    text-align: center;
    width: 100%;
    padding: 12px;
    padding-top: 2px;
    margin-top: 20px;
}

button{
    color: white;
}









.overlay-mf {
    
    background-color: #1e2d77;
    position: absolute;
    top: 0;
    left: 0px;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: .7;
  }
  
  .paralax-mf {
    position: relative;
    padding: 4rem 0;
  }


  .bg-image {
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}