* {
    box-sizing: border-box;
}

body {
    background-image: url("bg1.jpg");
    background-size: cover;
    background-position: center center;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    min-height: 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    color: white;
}

h1{
    font-style: normal;
    font-size: 4rem;
    margin-top: -10rem;
}


.countdown-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;
    margin: 1rem 2rem;
}


.big-text {
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 1rem 2rem;
}

.countdown-el {
    text-align: center;
}

.countdown-el span {
    font-size: 1.5rem;
}

.seconds-c{
    color: blue;
}

@keyframes dancing {
    0% { transform: translateX(0); color: #eaeaea;}
    50% { transform: translateX(-20px) rotate(-5deg); color: #000000;}
    100% { transform: translateX(0); }
  }
  
  #myButton {
    animation: dancing 10s infinite;
    display: inline-block;
    padding: .3rem .6rem;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 1rem;
    border-radius: .3rem;
    border: 1px solid transparent;
    transition: all 500ms ease;
    cursor: pointer;
  }
  .button-a {
    /* Styles for button-a class */
    background-color: #007bff;
    color: #fff;
    /* Add other styles as needed */
  }
  
  .button-big {
    /* Styles for button-big class */
    padding: 10px 20px;
    font-size: 18px;
    /* Add other styles as needed */
  }
  
  .button-rounded {
    /* Styles for button-rounded class */
    border-radius: 20px;
    /* Add other styles as needed */
  }
  