* {
    box-sizing: border-box;
}

body {
    background-image: url("bg1.jpg");
    background-size: cover;
    background-position: center center;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    min-height: 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    color: white;
}

h1{
    font-style: normal;
    font-size: 4rem;
    margin-top: -10rem;
}


.countdown-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;
    margin: 1rem 2rem;
}


.big-text {
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 1rem 2rem;
}

.countdown-el {
    text-align: center;
}

.countdown-el span {
    font-size: 1.5rem;
}

.seconds-c{
    color: blue;
}